# Dependencies
node_modules/

# Package manager files
package-lock.json
yarn.lock
pnpm-lock.yaml
.pnpm-store/

# Environment variables
.env
.env.local

# IDE/Editor
.vscode/
.idea/

# Build files
dist/
build/

# Misc
.DS_Store
*.log